dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
tsl2tlsf
tslcheck
tslsize
tslsplit
tslsym
tslplay
tsl2toml
tslresolve
cfm2code
cfmcheck
cfminfo
cfmsym
cstratsim
tslcoregen
tslminrealizable
hoa2code
parsehoa
tslsynth
.commit
.stack-work
local_testing
stack.yaml.lock
