dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
tsl2tlsf
tslcheck
tslsize
tslsym
cfm2code
cfmcheck
cfminfo
cfmsym
.commit
.stack-work
local_testing
